<div class="block">
  <div class="cols">
    <div>
      <h2><!--INDEX--></h2>
      <div>
        <label>Nonce</label>
        <input disabled="disabled" value="<!--NONCE-->">
      </div>
      <div>
        <label>Merkle root</label>
        <input disabled="disabled" value="<!--MERKLE_ROOT-->">
      </div>
      <div>
        <label>Hash</label>
        <input disabled="disabled" value="<!--HASH-->">
      </div>
      <div>
        <label>Timestamp</label>
        <input disabled="disabled" value="<!--TIMESTAMP-->">
      </div>
      <div>
        <label>Previous hash</label>
        <input disabled="disabled" value="<!--PREVIOUS_HASH-->">
      </div>
    </div>
    <div>
      <label>TX</label>
      <ul>
        <!--TRANSACTIONS-->
      </ul>
    </div>
  </div>
</div>
